.background-orange{
	background-color: #FF8C00 !important;
}

.background-blue{
	background-color: blue !important;
}

.background-red{
	background-color: red !important;
}

.background-yellow{
	background-color: yellow !important;
}

.background-black{
	background-color: #000000 !important;
}

.background-green{
	background-color: #006400 !important;
}
